<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}{{ title_name }}{% endblock %}

{% block content %}
<div class="container">
    <button type="button" class="btn">基本按钮</button>
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-info">2</button>
    <button type="button" class="btn btn-link">3</button>
    <a href="http://www.baidu.com" class="btn btn-default" type="button">ddddd</a>
    <div class="btn-group">
        <button type="button" class="btn btn-defalut">122</button>
        <button type="button" class="btn btn-info">2222</button>
        <button type="button" class="btn btn-link">2222</button>
    </div>
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle btn-info btn-lg " style="font-size:30px;"
                id="dropdownMenu" data-toggle="dropdown">菜单
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="user.html">user</a>
            </li>
            <li role="presentation" class="dropdown-header">alist</li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="404.html">404</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="list.html">list</a>
            </li>

        </ul>

    </div>

    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        modal按钮
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h1 class="modal-title" id="myModalLabel">This is a title</h1>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="this is s.">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <img src="../static/images/logo.png">
    <img src="../static/logo-2.png">
    <img src="{{ url_for('static',filename='footer-logo.png') }}">

    <form role="form">
        <div class="form-group">
            <label for="name">你是谁</label>
            <input type="text" class="form-control" id="name"
                   placeholder="你谁">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">勾勾
            </label>

            <div class="form-group">
                <label for="name">who you</label>
                <textarea class="form-control"></textarea>
            </div>

        </div>
        <button href="htttp://www.baidu.com" class="btn btn-info btn-lg">提交</button>
    </form>


    <div class="alert alert-success alert-dismissable">
        <a href="#" class="alert-link">goodsss</a>
        This is a alert.
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
    </div>

    <p id="demo">
        Click and change words!
    </p>
    <script>
        function myFunction() {
            x = document.getElementById("demo");
            x.innerHTML = "It's changed!";
            alert("sss")
        }
    </script>
    <button type="button" onclick="myFunction()">click23</button>

 <div class="row" style="padding: 10px;">
            <div class="col-md-6" >
    <div class="buy-num text-center" style="font-size: 15px;">
        <div class="attr-title">订购数量：</div>
        <a href="#" class="reduce-btn disabled" onclick="reduceNum()" id="reduce-btn" title="减少">-</a>
        <input type="text" class="buy-num-text"  id="buy-num" value="1" max="28">
        <a href="#" class="add-btn" id="add-btn" onclick="addNum()" title="增加">+</a>
    </div>
</div>
<script>
function addNum() {
    var txt=document.getElementById("buy-num");
    var a = txt.value;
    a++;
    txt.value=a;
}
function reduceNum() {
    var txt=document.getElementById("buy-num");
    var a = txt.value;
    if(a>1){
        a--;
        txt.value=a;
    }
    else {
        txt.value=1;
    }
}
</script>

{% endblock %}
